<robot name="drone_links">
    <link name="fcu" />
    <link name="base_link" />
    <link name="camera_rgb_optical_frame" />
    <link name="camera_depth_optical_frame" />
    <link name="camera_link" />

    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="fcu"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_link"/>
        <origin xyz="0.03 0 0.13" rpy="-1.67079632679 0 -1.57079632679" />
    </joint>

    <joint name="camera_rgb_optical_frame_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_rgb_optical_frame"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="camera_depth_optical_frame_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_depth_optical_frame"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>



</robot>